/* ————————————————————编辑区———————————————————— */

/* 滚动条 */

.av:not(:hover) > .av__container > .av__scroll {
	--b3-scroll-color: transparent; /* 数据库块未 hover 时隐藏横向滚动条 */
}


/* 编辑器顶部 */

/* 头图、图标 */
.protyle-background{
	.protyle-background__icon{
		margin-bottom:14px;
		border-radius:5px;
		font-size: 60px;
		&:not(.fn__none)+.b3-chips{
			margin-left:80px;
			margin-top:-40px;
			transform:none;
		}
		&:hover{
			background-color:var(--b3-list-hover);
			opacity:1;
		}
	}
	.b3-button{
		/* box-shadow: none;
		padding: 4px 6px;
		margin-top: 0px; */
		& svg{
			width:12px;
			opacity:0.6;
			/* height:12px;
			padding:2px;
			color: var(--b3-theme-background);
			background-color: var(--S-icons-tooltips);
			border-radius:3px; */
		}
		/* &:hover{
			background-color:var(--b3-list-hover);
			color:var(--S-img-icons-tooltips);
			box-shadow: none;
		} */
		&:hover{
			opacity: 1;
		}
	}
}
/* 文档标签 */
.protyle-background__ia .b3-chips{
	& .b3-button{
		/* box-shadow: none;
		color: var(--b3-theme-background);
		background-color: var(--S-icons-tooltips-hover); */
		width: 23px;
		height: 23px;
		/* overflow: hidden; */
		font-size: 0;
		opacity: 0.6;
		border-radius: 3px;
		margin-bottom: inherit !important;
		&:hover{
			opacity: 1;
		}
		&[data-type="tag"] {
			margin-left: 2px;
		}
		& svg{
			margin-right: 0px;
			background-color: transparent;
			color: var(--b3-theme-on-background);
		}

	}
	& .fn__space{
		width: 2px;
	}
	& .b3-chip{
		margin: 3px;
		border-radius: 3px;
		padding: 0px 6px 1px;
		font-size:90%;
		& .b3-chip__close{
			width:0;
		}
		&:hover .b3-chip__close{
			width:14px;
		}
		&.b3-chip--secondary, &.b3-chip--primary, &.b3-chip--info, &.b3-chip--success, &.b3-chip--warning, &.b3-chip--error, &.b3-chip--pink{
			background-color: var(--b3-card-success-background);
			color: var(--b3-card-success-color);
		}
		&::before{
			content: "#";
			width:10px;
			height:22px;
			align-content: center;
			font-size:1.1em;
		}
	}
}


#layouts div.layout__center div.protyle-content:not([data-fullwidth="true"]) div.protyle-wysiwyg {
	padding-bottom: 70vh !important; /* 更改编辑器底部高度 */
}

/* 数据库角标文本颜色 */
.protyle-attr--av > span{
	display: contents;
	font-weight: 500;
}
.protyle-attr--av > span:nth-child(4n+1) {
	color: var(--b3-card-success-color);/* 每组的第1个 */
	background-color: var(--b3-card-success-background);
}
.protyle-attr--av > span:nth-child(4n+2) {
	color: var(--b3-card-info-color); /* 每组的第2个 */
	background-color: var(--b3-card-info-background);
}
.protyle-attr--av > span:nth-child(4n+3) {
	color: var(--b3-card-warning-color); /* 每组的第3个 */
	background-color: var(--b3-card-warning-background);
}
.protyle-attr--av > span:nth-child(4n) {
	color: var( --b3-card-error-color); /* 每组的第4个 */
	background-color: var(--b3-card-error-background);
}


/* 标题块 */

/* 在标题前添加数字标识 */
/* 用:not(#preview)排除导出PDF，用.protyle-wysiwyg排除导出预览 */
div:not(#preview) > .protyle-wysiwyg div[data-subtype^="h"] > div:first-child {
	padding-left: 10px;
}
div:not(#preview) > .protyle-wysiwyg div[data-subtype^="h"] > div:first-child:before {
	font-size: 0.65em;
	font-weight: 200;
	color: rgba(0,0,0,.45);
	position: absolute; /* 使用绝对定位 */
	transform: translateY(44%);
	left: 0;
}
div:not(#preview) > .protyle-wysiwyg div[data-subtype="h1"] > div:first-child:before {
	content: "1";
}
div:not(#preview) > .protyle-wysiwyg div[data-subtype="h2"] > div:first-child:before {
	content: "2";
}
div:not(#preview) > .protyle-wysiwyg div[data-subtype="h3"] > div:first-child:before {
	content: "3";
}
div:not(#preview) > .protyle-wysiwyg div[data-subtype="h4"] > div:first-child:before {
	content: "4";
}
div:not(#preview) > .protyle-wysiwyg div[data-subtype="h5"] > div:first-child:before {
	content: "5";
}
div:not(#preview) > .protyle-wysiwyg div[data-subtype="h6"] > div:first-child:before {
	content: "6";
}


/* 代码块 */

/* 缩短代码块上下边距，更紧凑 */
.b3-typography .code-block:not(pre),
.protyle-wysiwyg .code-block:not(pre) {
    margin-top: 6px;
	margin-bottom: 6px;
}

/* 代码块滚动时语言和按钮固定在编辑器顶部 修改自 JeffreyChen https://ld246.com/article/1728146248791 */
.b3-typography div.hljs, .protyle-wysiwyg div.hljs {
    padding-top: 0;
}
/* TODO 要看看在 设置 - 外观 - 代码块主题 选择了主题之后会怎样，需要兼容 */
html[data-theme-mode="light"] { /* 明亮模式的颜色 */
	.protyle-wysiwyg[contenteditable] .code-block .protyle-action {
		background-color: rgb(238, 237, 235); /* 混合 --b3-theme-background 和 rgba(27, 31, 35, .05) */
		position: sticky;
		top: 0;
	}
	/* 代码块高亮时需要调整 .protyle-action 的背景色以避免样式问题 */
	.protyle-wysiwyg--select.code-block .protyle-action,
	.protyle-wysiwyg--hl.code-block .protyle-action {
		background-color: rgb(215, 214, 207); /* 二次混合 --b3-theme-primary-lightest 和上面的混合颜色 */
	}
}
html[data-theme-mode="dark"] { /* 暗黑模式的颜色 */
	/* TODO 需要等暗黑模式的配色考虑好之后再弄 */
}
/* 始终显示设置的代码块语言 */
.b3-typography .code-block:not(pre):not(:hover) .protyle-action__language,
.protyle-wysiwyg .code-block:not(pre):not(:hover) .protyle-action__language {
    opacity: .86;
}
/* 只有 hover 代码块时才显示代码块语言占位符 */
.protyle-wysiwyg[data-readonly=false] .code-block:not(:hover) .protyle-action .protyle-action__language:empty::after {
	opacity: 0;
}
/* 代码块语言的左边与代码对齐 */
.protyle-action__language {
    position: absolute;
    left: 1em;
}


/* 数据库 */

.b3-chip {
	color: var(--b3-theme-on-background) !important; /* 选项字体用默认色 */
}

.av__row:hover .av__firstcol svg {
	opacity: 1; /* hover 条目时就显示条目的复选框 */
}

/* Notion 样式的数据库 CSS片段 */
.av__container {
	width: 100%;
}
.av__container .av__body {
	min-width: 100%;
}
.av__container .av__body .av__row--header .block__icons {
	padding: unset;
	flex-direction: row; /* "添加字段"和"更多"按钮调换顺序 */
	flex-grow: 1;
	align-items: stretch; /* 使子元素在垂直方向上填满父容器 */
}
.av__container .av__body .av__row--header .block__icons .block__icon {
	border-radius: unset;
	padding: 0 10px;
}
.av__container .av__body .av__row--header .block__icons .block__icon:nth-child(3) {
	order: 1; /* "添加字段"按钮放在左边 */
}
.av__container .av__body .av__row--header .block__icons .block__icon:nth-child(1) {
	order: 2; /* "更多"按钮放在右边铺满 */
	flex-grow: 1;
}
.av__container .av__body .av__row--header .block__icons > .fn__space {
	display: none;
}
.av__container .av__body .av__row--util .av__colsticky {
	width: 100%;
	flex-direction: column; /* "添加条目"和"加载更多"按钮分成两行显示 */
}
.av__container .av__body .av__row--util .av__colsticky > .b3-button {
	border-radius: unset;
	margin: unset;
	padding: unset;
	height: 2.7em;
	justify-content: flex-start;
	border-bottom: 1px solid var(--b3-theme-surface-lighter);
}
.av__container .av__body .av__row--util .av__colsticky > .b3-button span {
	position: sticky;
	left: 2em;
}
.av__container .av__body .av__row--util .av__colsticky > .b3-button svg {
	position: sticky;
	left: 0.5em;
}
.av__container .av__body .av__row--util .av__colsticky > .b3-button svg[data-type="set-page-size"] {
	margin-left: auto;
	padding: 2px 6px;
	right: 5px;
}
.av__container .av__body .av__row--util .av__colsticky > .b3-button svg[data-type="set-page-size"]:hover {
	background-color: var(--b3-list-hover);
}
.av__container .av__body .av__row--util .av__colsticky > .b3-button:last-of-type {
	order: 1; /* "加载更多"按钮放在上方 */
}
.av__container .av__body .av__row--util .av__colsticky > .b3-button:first-of-type {
	order: 2; /* "添加条目"按钮放在下方 */
}
.av__container .av__body .av__row--util .av__colsticky > .fn__space {
	display: none;
}
.av__container .av__body .av__row--footer {
	border-top: unset;
}

/* hover 条目时高亮 */
.av__row--select:not(.av__row--header) .av__cell,
.av__row--select:not(.av__row--header) .av__firstcol,
.av__row--hl:not(.av__row--header) .av__cell,
.av__row--hl:not(.av__row--header) .av__firstcol {
    background-color: var(--b3-theme-primary-lightest);
}
.av__row:not(.av__row--header):hover .av__cell,
.av__row:not(.av__row--header):hover .av__firstcol {
    background-color: var(--b3-list-hover);
}
html[data-theme-mode="light"] { /* 明亮模式的颜色 */
	.av__row--select:not(.av__row--header):hover .av__cell,
	.av__row--select:not(.av__row--header):hover .av__firstcol,
	.av__row--hl:not(.av__row--header):hover .av__cell,
	.av__row--hl:not(.av__row--header):hover .av__firstcol {
		background-color: rgba(8, 8, 3, 0.17); /* --b3-theme-primary-lightest 和 --b3-list-hover 混合 */
	}
}
html[data-theme-mode="dark"] { /* 暗黑模式的颜色 */
	/* TODO 需要等暗黑模式的配色考虑好之后再弄 */
}
/*头图选项*/

/*.protyle-background__img .protyle-icons .protyle-icon{
	color:var(--S-img-icons-tooltips);
	background-color:var(--S-img-icons-tooltips-bg);
	box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 0.5px;
	&:hover{
		background-color: var(--S-dock-background);
	}
}

.protyle-background__img .protyle-icons>.protyle-icon--text
{
	background-color: var(--S-img-icons-span);
	color:var(--b3-theme-background);
	padding:5px 20px;
}/*上下移动题图提示语*/

/* .protyle-background--enable .protyle-background__img:hover .protyle-icons{
	opacity: 1 ;
	box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 2px 4px;
	border-radius: 4px;
} */


/* 文档标题 */
.protyle-title {
	margin-top: 0 !important;
}
/* .protyle-title__input{
	font-weight:800;
	font-size: 40px;
}
.protyle-title__input:empty:after{
	color: var(--b3-border-scroll);
} */
/*h1~6标题间距*/
/*h1~6标题间距*/
/* .protyle-wysiwyg .h1,.protyle-wysiwyg .h2,
.protyle-wysiwyg .h3,.protyle-wysiwyg .h4,
.protyle-wysiwyg .h5,.protyle-wysiwyg .h6{
	font-weight:700;
	margin-top: .5em;
    margin-bottom: .1em;
}
.sb[fold="1"] .h1,.sb[fold="1"] .h2,
.sb[fold="1"] .h3,.sb[fold="1"] .h4,
.sb[fold="1"] .h5,.sb[fold="1"] .h6{
	margin-top: 0em;
}
.bq > .h1,.bq > .h2,
.bq > .h3,.bq > .h4,
.bq > .h5,.bq > .h6{
	margin-top: 0em!important;
    margin-bottom: 0.1em!important;
	padding-left: 12px;
}
.protyle-wysiwyg [data-node-id].li > .protyle-action ~ .h1,
.protyle-wysiwyg [data-node-id].li > .protyle-action ~ .h2,
.protyle-wysiwyg [data-node-id].li > .protyle-action ~ .h3,
.protyle-wysiwyg [data-node-id].li > .protyle-action ~ .h4,
.protyle-wysiwyg [data-node-id].li > .protyle-action ~ .h5,
.protyle-wysiwyg [data-node-id].li > .protyle-action ~ .h6{
	margin-top: 0em!important;
    margin-bottom: 0.1em!important;
} */
/*块标*/ 
/* .protyle-gutters button svg {
    color: var(--b3-gutters-color);
	padding:0 5px;
	border-radius:4px;
	height: 24px!important;
}
.protyle-gutters button[data-type="fold"] svg {
	padding:0px 7px;
}
.protyle-gutters button:hover svg {
	background-color: var(--S-gutters-background);
}
.protyle-gutters button{
	padding:5px 0px;
}
.protyle-gutters{
	transition: top 150ms ease-out;
} */
/* 无序列表 */
/* .protyle-wysiwyg [data-node-id].li>.protyle-action{
	color: var(--b3-theme-on-background);
}
.protyle-wysiwyg [data-node-id].li[fold="1"]>.protyle-action:after, .protyle-wysiwyg [data-node-id].li>.protyle-action:hover:after{
    background-color: var(--S-list-background)!important;
} */
/* 有序列表 */
/* .protyle-wysiwyg [data-node-id].li[data-subtype="o"]>.protyle-action--order:after{
	 padding:3px 4px;
	 margin:-0.75em 0 0 -0.7em;
	 height:1.1em;
	 line-height:1.1em;
} */
/* 任务列表 */
/* .protyle-task--done svg{
    color: var(--b3-theme-primary);
}
.protyle-task--done:hover svg{
    color: var(--b3-task-done-hover);
}
.protyle-wysiwyg [data-node-id].li>.protyle-action--task:hover:after{
	display:none;
} */
/*块右上角引用数*/
/* .protyle-attr--refcount{
	height: 20px;
    width: 20px;
    padding: 0;
    line-height: 20px;
	text-align: center;
} */
/* 超级块 */
/* .protyle-wysiwyg [data-node-id].sb[data-sb-layout="col"],
.protyle-wysiwyg [data-node-id].sb[data-sb-layout="row"],
.protyle-wysiwyg [data-node-id].sb[data-sb-layout="col"]>div,
.protyle-wysiwyg [data-node-id].sb[data-sb-layout="row"]>div{
	margin-bottom: 5px;
	border-radius: 3px;
}
.protyle-wysiwyg [data-node-id].sb[data-sb-layout=col]>div:not(:nth-last-child(2)),
.protyle-wysiwyg [data-node-id].sb[data-sb-layout=col] .sb:not(:nth-last-child(2)){
	margin-right:5px;
} */

/* 图片圆角 */
/* .protyle-wysiwyg img{
	border-radius: 3px;
} */
/* 文字弹出工具条 */
/* .protyle-toolbar{
	box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px; 
	animation: toolbar 0.2s ease-in-out;
	border:none;
}

.protyle-toolbar__item{
	height:30px;
    width:30px;
	padding-top:3px;
}
.protyle-toolbar__item:not(.protyle-toolbar__item--current){
	color:var(--b3-theme-on-background);
}

.protyle-toolbar__item:hover {
	background-color: var(--S-toolbar-item-hover);
}
.protyle-toolbar__divider{
	margin:0px;
}
.protyle-util{
	animation: menu 0.2s ease-in-out;
	box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
	border:none;
	background-color: var(--b3-theme-background);
} */
/* 引用弹出搜索菜单 */
/* .protyle-hint{
	padding:0 5px;
	animation: menu 0.2s ease-in-out;
	box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
	border:none;
	background-color: var(--b3-theme-background);
}
.protyle-hint .b3-list-item{
	margin:5px 0px;
	width:100%!important;
} */

/* 弹出工具条字体颜色选择 */
/* .color__square[data-type="style1"]{
	 border-radius: 3px;
	 width:22px;
	 height:22px;
	 font-size:1.3em;
	 font-weight: 500;
	 box-shadow: 0 0 0 1px var(--b3-color--square) inset;
}
.color__square[data-type="color"]{
	 border-radius: 3px;
	 width:22px;
	 height:22px;
	 background-color:transparent!important;
	 font-size:1.3em;
	 font-weight: 500;
	 box-shadow: 0 0 0 1px var(--b3-color--square) inset;
}
.color__square[data-type="backgroundColor"]{
	 border-radius: 3px;
	 width:22px;
	 height:22px;															   
	 box-shadow: 0 0 0 1px var(--b3-color--square) inset;
}
.color__square[data-type="backgroundColor"]::before{
	 content: "A";
	 color:var(--b3-theme-on-background);
}
.color__square:hover{
	box-shadow: 0 0 0 1px var(--b3-theme-on-background) inset;
}
.color__square[style="background-color:var(--b3-font-color1)"]::before,
.color__square[style="background-color:var(--b3-font-color2)"]::before,
.color__square[style="background-color:var(--b3-font-color3)"]::before,
.color__square[style="background-color:var(--b3-font-color4)"]::before,
.color__square[style="background-color:var(--b3-font-color5)"]::before,
.color__square[style="background-color:var(--b3-font-color6)"]::before,
.color__square[style="background-color:var(--b3-font-color7)"]::before,
.color__square[style="background-color:var(--b3-font-color8)"]::before,
.color__square[style="background-color:var(--b3-font-color9)"]::before,
.color__square[style="background-color:var(--b3-font-color10)"]::before,
.color__square[style="background-color:var(--b3-font-color11)"]::before,
.color__square[style="background-color:var(--b3-font-color12)"]::before,
.color__square[style="background-color:var(--b3-font-color13)"]::before,
.color__square[data-type="backgroundColor"]::before{
	content: "A";
	opacity:1;
	width:22px;
	height:22px;
	transform:unset;
	right:unset;
	bottom:-5px;
	margin-right:unset;
	border-bottom-color:transparent;
	margin-top:0px;
	font-weight: 500;
	font-size:1.3em;
	line-height: 22px;
} */

/* 表格 */
/* .b3-typography table, .protyle-wysiwyg table{
	font-weight:500;
}

.protyle-wysiwyg div.table[data-node-id] table {
    width: auto;
}
.protyle-wysiwyg table tbody tr td{
	background-color:var(--b3-theme-background);
} */
/*页面宽度*/
/* .protyle-wysiwyg div.table[data-node-id][custom-f~=full] table{
	font-weight:500;
	width: 100%;
	display: table;
}
.protyle-wysiwyg [data-node-id][custom-f~=full] colgroup{
	border-style:unset;
} */
/* 自定义表格宽度 */
/* .protyle-wysiwyg div.table[data-node-id][custom-f~=auto] table {
    width: max-content;
}
.protyle-wysiwyg [data-node-id][custom-f~=auto] table {
    width: max-content !important;
} */
/* 表头和表行格式一致 */
/* .protyle-wysiwyg [data-node-id][custom-t~=biaotou] table th {
    font-weight: normal !important;
    color: inherit !important;
    background-color: var(--b3-theme-background) !important;
} */
/* 竖表头格式 */
/* .protyle-wysiwyg [data-node-id][custom-t~=vbiaotou] table th {
    font-weight: normal !important;
    color: inherit !important;
    background-color: var(--b3-theme-background) !important;
}
.protyle-wysiwyg [data-node-id][custom-t~=vbiaotou] table tr th:first-child,
.protyle-wysiwyg [data-node-id][custom-t~=vbiaotou] table tr td:first-child{
    font-weight: bold !important;
    background-color: var(--b3-theme-surface) !important;
} */
/* 标签 */
.protyle-wysiwyg span[data-type="tag"] {
	font-size: 90%;
	border-radius: 3px;
	padding:0px 6px 2px 6px;
	color: var( --b3-theme-on-background)!important;
	border-bottom:none !important; 
	background-color:var(--b3-font-background7);
}
.protyle-wysiwyg span[data-type="tag"]::before{
	content: "#";
}
.export-img span[data-type="tag"]::before{
	content: "";
}
/*块引用*/
/*.protyle-wysiwyg [data-node-id] span[data-type*="block-ref"][data-subtype="s"]:not([data-type="virtual-block-ref"]):not([data-type*="sup"]):not([data-type*="sub"]){
	color: var(--b3-theme-primary)!important;
}
.protyle-wysiwyg [data-node-id] span[data-type="block-ref"][data-subtype="s"]:not([data-type="virtual-block-ref"]):not([data-type*="sup"]):not([data-type*="sub"])::before {
    color: var(--b3-theme-on-surface)!important;
    content: "[["!important;
	opacity: 0.5;
}

.protyle-wysiwyg [data-node-id] span[data-type="block-ref"][data-subtype="s"]:not([data-type="virtual-block-ref"]):not([data-type*="sup"]):not([data-type*="sub"])::after {
    color: var(--b3-theme-on-surface)!important;
    content: "]]"!important;
	opacity: 0.5;
}*/

/* .protyle-wysiwyg [data-node-id] span[data-type*="block-ref"]:not([data-type="virtual-block-ref"]):not([data-type*="sup"]):not([data-type*="sub"]):not(.av__celltext--ref){
	font-size:95%;
	padding:2px 3px 1px 3px;
	color:var(--b3-theme-on-background);
	background-color:var(--b3-block-ref-background);
	border-bottom: 1px dashed var(--b3-theme-on-surface);
}
.protyle-wysiwyg [data-node-id] span[data-type*="block-ref"]:not([data-type="virtual-block-ref"]):not([data-type*="sup"]):not([data-type*="sub"]):not(.av__celltext--ref):hover{
	background-color:var(--S-list-background-focus);
} */
/*上标块引*/
/* .protyle-wysiwyg [data-node-id] span[data-type*="block-ref"][data-type*="sup"],.protyle-wysiwyg [data-node-id] span[data-type*="block-ref"][data-type*="sub"]{
	font-size:65%;
	color:var(--b3-theme-background);
	background-color:var(--b3-theme-on-background);
	border-radius:5px;
	padding: 1px 3px 2px 3px;
	border-bottom:none;
} */
/* 超链接 */
/* .protyle-wysiwyg [data-node-id] span[data-type~=a]{
	color: var(--b3-theme-on-surface);
	border-bottom:1px solid var(--b3-border-color);
}
.protyle-wysiwyg [data-node-id] span[data-type~=a]:hover{
	color: var(--b3-theme-on-background);
	border-bottom:1px solid var(--b3-theme-on-background);
} */
/*上标链接*/
/* .protyle-wysiwyg [data-node-id] span[data-type*="a"][data-type*="sup"],.protyle-wysiwyg [data-node-id] span[data-type*="a"][data-type*="sub"]{
	font-size:65%;
	border-radius:5px;
	padding: 1px 4px 2px 4px;
	border: 1px solid var(--b3-border-color);
}
.protyle-wysiwyg [data-node-id] span[data-type*="a"][data-type*="sup"]:hover,.protyle-wysiwyg [data-node-id] span[data-type*="a"][data-type*="sub"]:hover{
	border:1px solid var(--b3-theme-on-background);
} */

/* 嵌入块 */
/* .protyle-wysiwyg [data-node-id].render-node[data-type="NodeBlockQueryEmbed"]{
    color: var( --b3-theme-on-background);
	border-radius:0 5px 5px 0;
} */
/* 命名，别名，备注*/
/* .protyle-attr--name,.protyle-attr--alias,.protyle-attr--memo{
	color: var(--b3-font-color3);
	font-size:90%;
	padding:0 3px;
	width:auto;
} */

/*列表里代码块对齐*/
/* .b3-typography .code-block, .protyle-wysiwyg .code-block {
	background-color:var(--S-code-block-hljs);
	padding: 34px 10px 22px 10px;
}
.protyle-wysiwyg[contenteditable="true"] .code-block .protyle-action{
	padding:4px 3px;
}
.code-block .protyle-action .protyle-action__language{
	height:16px;
	line-height:14px;
	border-radius:3px;
	padding:4px;
}
.b3-typography .code-block .protyle-action .protyle-action__language, .protyle-wysiwyg .code-block .protyle-action .protyle-action__language{
	margin-top: -2px;
	margin-left: 0px;
}
.code-block .protyle-action .protyle-action__language:hover{
	background-color:var(--S-list-background);	
}
.code-block .protyle-action .protyle-action__copy,.code-block .protyle-action .protyle-action__menu{
	margin-top:-3px;
	color:var(--S-icons-tooltips);
	background-color:var(--S-list-background);
}
.code-block .protyle-action .protyle-action__copy:hover,
.code-block .protyle-action .protyle-action__menu:hover{
	background-color:var(--S-list-background-focus);
} */

/* .protyle-wysiwyg [data-node-id][fold="1"]:not(.li):not([data-type="NodeHeading"]).code-block{
	height: 2.2em;
} */
/*行内代码*/
/* .fn__code, .b3-typography code:not(.hljs), .b3-typography span[data-type~=code], .protyle-wysiwyg code:not(.hljs), .protyle-wysiwyg span[data-type~=code]{
	color:var(--S-inline-code);
} */
/*折叠样式*/
/* .protyle-wysiwyg div[fold="1"]:not(div[data-type="NodeListItem"]){
	background-color:var(--S-fn__flex-shrink-background);
	border-radius:5px;
	border:1px solid var(--b3-border-fold);
}
.protyle-wysiwyg div[fold="1"][data-type="NodeHeading"]:before{
	background-color:transparent;
} */

/*pdf批注*/
/* .protyle-wysiwyg [data-node-id] span[data-type="file-annotation-ref"]:before {
    content:"💡 ";
}
.protyle-wysiwyg span[data-type="file-annotation-ref"] {
  font-size: 90%;
  border-radius: 3px;
  padding:2px 6px 4px 6px;
  color: var( --b3-theme-on-background)!important;
  background-color:var(--S-toolbar-item-hover);
}
.protyle-wysiwyg span[data-type="file-annotation-ref"]:hover {
  background-color:var(--b3-border-color);
} */

/*备注*/
/* .b3-typography span[data-type~=inline-memo], .protyle-wysiwyg span[data-type~=inline-memo] {
    background-color: var(--b3-theme-primary-lightest);
    border-bottom: 2px solid var(--b3-theme-primary);
}
.tooltip--memo{
	font-size:14px;
	color:var(--b3-theme-on-background);
	background-color:var(--b3-theme-background);
	box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
	padding:10px;
} */







/*分栏大纲*/
/* .layout__center .file-tree>.block__icons+.b3-list-item{
	margin-top:-5px!important;
	opacity:0;
}/*对齐alt o大纲树*/
/*.layout__center .sy__outline{
	background-color:var(--b3-theme-background);
} */


/* iframe调节控件 */
/* .protyle-action__drag{
	background-color:var(--b3-theme-on-surface)!important;
}
.iframe .protyle-action__drag:after{
	background-color:var(--b3-theme-on-surface)!important;
} */
